{% extends 'base.html' %}
{% load static %}

{% block title %}Créer un utilisateur{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card mt-5">
        <div class="card-header">
          <h3 class="card-title">Créer un utilisateur</h3>
        </div>
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
          </form>
        </div>
        <div class="card-footer">
          {% if messages %}
          <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
        <div style="margin:20px; height:20px"></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
