{% extends 'base.html' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block content %}
<h2>Liste des utilisateurs</h2>
<ul>
  {% for utilisateur in utilisateurs %}
  <li>{{ utilisateur.nom }} {{ utilisateur.prenom }} - {{ utilisateur.adresse_email }}</li>
  <ul>
    {% for base_de_donnees in utilisateur.bases_de_donnees.all %}
    <li>{{ base_de_donnees.nom }}</li>
    {% endfor %}
  </ul>
  <p>
    <a href="{% url 'modifier_utilisateur' utilisateur.id %}">Modifier</a> |
    <a href="{% url 'supprimer_utilisateur' utilisateur.id %}">Supprimer</a>
  </p>
  {% endfor %}
</ul>
<a href="{% url 'creer_utilisateur' %}">Créer un nouvel utilisateur</a>
<br>
<a href="{% url 'page_accueil' %}">Se déconnecter</a>
{% endblock %}
