{% extends 'base.html' %}
{% load static %}

{% block title %}Supprimer un utilisateur{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card mt-5">
        <div class="card-header">
          <h3 class="card-title">Supprimer un utilisateur</h3>
        </div>
        <div class="card-body">
          <p class="card-text">Êtes-vous sûr de vouloir supprimer l'utilisateur "{{ utilisateur }}" ?</p>
          <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Confirmer la suppression</button>
          </form>
        </div>
        <div class="card-footer">
          {% if messages %}
          <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
